<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Overall Summary</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Total Income:</strong> {{ totalIncome | number:'1.2-2' }}</p>
      <p><strong>Total Expense:</strong> {{ totalExpense | number:'1.2-2' }}</p>
      <p><strong>Net Balance:</strong> <span [style.color]="netBalance >= 0 ? 'green' : 'red'">{{ netBalance | number:'1.2-2' }}</span></p>
    </ion-card-content>
  </ion-card>

  <ion-list>
  <ion-list-header>
    <ion-label>Spending by Category</ion-label>
  </ion-list-header>

  <ion-item *ngFor="let cat of categoryTotals">
    <ion-label>
      <h2>{{ cat.name }}</h2>
      <div [style.width.%]="cat.percentage * 100" 
           style="height: 4px; background: var(--ion-color-primary); border-radius: 2px;">
      </div>
    </ion-label>
    <ion-note slot="end" color="dark">
      {{ cat.value | number:'1.0-0' }} FCFA
    </ion-note>
  </ion-item>
</ion-list>
</ion-content>