<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Records</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="report">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Export</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="summary">
      <ion-icon name="pie-chart-outline"></ion-icon>
      <ion-label>Summary</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>